.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1{
    margin: 14px 0;

}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h2{
    margin-top: 14px;
}

.filme-info span{
    margin: 10px 0;
}

.btn-voltar{
    margin-left: 200px;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius:4px ;
}

.area-btn button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius:4px ;
    cursor: pointer;
    transition: all 0.5s;
}

.area-btn button:hover{
    background-color: brown ;
    color: wheat;
}

.area-btn  a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-btn  a:hover{
    background-color: brown ;
    color: wheat;
}

